<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<section layout:fragment="content" class="about-me">
    <p>Przyszła programistka, której pasją jest również gotowanie.<br/>
        Z głową pełną pomysłów przyszła tu, by dzielić się nimi z całym światem!<br/>
        Podoba Ci się mój przepis? Podeślij go znajomym!<br/>
        Chcesz podzielić się swoim sprawdzonym przepisem? Napisz do mnie!<br/></p>
    <p style="font-weight: bold; font-style: italic; font-size: large">kuchcikowo@gotowanie.eu<br/></p>
</section>
</body>
</html>